body {
   background: url(img/fnd.jpg) #fff;
}

li {
    margin-top: 1rem;
}

.crono {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.btns {
    text-align: center;
}


.btn {
    color: #fff;
    padding: 10px;
    margin: 5px;
    width: 140px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #00a4e0;
    cursor: pointer;
}

.btn:hover {
    box-shadow: inset 0 0 20px rgba(250, 250, 250, 0.3), 0 0 20px; 
    text-shadow: 1px 1px 6px #fff;
}

#iniciar {
    background-color: #00b512;
}

#detener {
    background-color: #e02900;
}

#almacenarTiempos {
    width: 300px;
    margin: 0 auto;
    font-size: 20px;
}

#tiempo {
    font-size: 23px;
}